@charset "utf-8";
/* CSS Document */

body,
.ui-page {
    min-height:100% !important;
    height:auto !important;
}

.ui-content {
    margin-bottom:42px; /* HEIGHT OF YOUR FOOTER */
	vertical-align:middle;
}

.ui-footer {
    position:absolute !important;
    width:100%;
    bottom:0;
}

.ui-grid-d{
    width:100%;
}

.ui-block-a{
	width:100%;
}

.copyright {
    font-size: 12px;
    text-align: center;
}

.ui-content {
    text-align: center;
}

.pt-menu .ui-btn {
    cursor: pointer;
    display: inline-block;
    height: 100px;
    margin: 5px !important;
    padding: 10px;
    text-align: center;
    width: 110px;
    /*border-radius: 200px;*/
}

.txtServicio{
	font-size: 12px;
}

.pt-servicio {
	cursor: pointer;
    display: inline-block;
    height: 80px;
    margin: 5px !important;
    padding: 10px;
    text-align: center;
    width: 280px;
}

.pt-menu .ui-btn-inner {
    border: 0;
}

.pt-menu .ui-btn img {
    /*height: 50px;*/
}

